.venv/
/**/__pycache__
/audio_visualizations
/music4all/music4all/audios
/music4all/music4all/lyrics
/music4all
/output_test
eda.py
file_analysis.csv
audio_visualizations.rar
/audio_visualization_data
test.py
*.prof
*.rar
*.log
test/
